<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221523173089-b50bo8a0t1db2oev9o4j9ilvvfr76jhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221523173089-b50bo8a0t1db2oev9o4j9ilvvfr76jhf</string>
	<key>API_KEY</key>
	<string>AIzaSyDMsfA0NJkofz13cW3uUmjNOnb-Y7xJzN4</string>
	<key>GCM_SENDER_ID</key>
	<string>221523173089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asu.BurtonAndDogs</string>
	<key>PROJECT_ID</key>
	<string>cse335-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cse335-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221523173089:ios:1c2459f61758f98ac321a0</string>
</dict>
</plist>